<ul>


  <div id="content_left" class="all">
    <div class="content-header clearfix">
      <h4 class="all">Assignments</h4>
      <%= link_to "+ Add assignment", new_assignment_path, :class => "alr button" -%>
     
    </div>
     
</ul>



