<%= link_to "ADD Courses", new_course_path(:program_id) -%>
<ul>
  <% @courses.each do |t| %>
  <li>
    <span><%= t.name -%></span>
    <%= link_to "edit", edit_course_path(:program_id) %>
    <%= link_to "delete", course_path(:program_id), :method => :delete -%>
  </li>
  <%end%>
</ul>
