

<h2>Create Course</h2>
<%= form_for :course, :url => courses_path(:program_id => @program), :method => :post do |f| %>
  <%= f.label :name -%>
  <%= f.text_field :name -%>

  <%= f.submit %>
<% end %>

